.notification {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 10000;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
}

.notification.error {
    background-color: #f44336;
}
